.menu{
    background-color: #333;
}

.menu ul{
    list-style-type:none;
    margin: 0;
    display: flex;
}

.menu ul li{
    margin-right: 20px;
    padding: 20px 10px;
}

.menu a{
    text-decoration: none;
    color:white
}

.dropdown{
    position: relative;
}

ul.dropdown-content{   
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content li{
    padding: 0px;
}

.menu ul li a:hover{
    text-decoration: underline;
}

li.active:hover{
    background-color: blue;
    color:white;
}